In [2]:
# Load and organize data according to directions at 
# https://web.archive.org/web/20201012220940/https://www.drivendata.co/blog/genetic-attribution-benchmark/

In [3]:
import pandas as pd
from itertools import permutations

In [7]:
train_values = pd.read_csv(r'/Users/elizabeth/Documents/GitHub/Build-Week-2/data/train_values.csv', index_col='sequence_id')
train_labels = pd.read_csv(r'/Users/elizabeth/Documents/GitHub/Build-Week-2/data/train_labels.csv', index_col='sequence_id')
test_values = pd.read_csv(r'/Users/elizabeth/Documents/GitHub/Build-Week-2/data/test_values_.csv', index_col='sequence_id')

In [8]:
train_values.head()

,sequence,bacterial_resistance_ampicillin,bacterial_resistance_chloramphenicol,bacterial_resistance_kanamycin,bacterial_resistance_other,bacterial_resistance_spectinomycin,copy_number_high_copy,copy_number_low_copy,copy_number_unknown,growth_strain_ccdb_survival,...,species_budding_yeast,species_fly,species_human,species_mouse,species_mustard_weed,species_nematode,species_other,species_rat,species_synthetic,species_zebrafish
sequence_id,,,,,,,,,,,,,,,,,,,,,
9ZIMC,CATGCATTAGTTATTAATAGTAATCAATTACGGGGTCATTAGTTCA...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5SAQC,GCTGGATGGTTTGGGACATGTGCAGCCCCGTCTCTGTATGGAGTGA...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
E7QRO,NNCCGGGCTGTAGCTACACAGGGCGGAGATGAGAGCCCTACGAAAG...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
CT5FP,GCGGAGATGAAGAGCCCTACGAAAGCTGAGCCTGCGACTCCCGCAG...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7PTD8,CGCGCATTACTTCACATGGTCCTCAAGGGTAACATGAAAGTGATCC...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
sequence_lengths = train_values.sequence.apply(len)

In [10]:
train_values.iloc[:, 1:].apply(pd.value_counts)

,bacterial_resistance_ampicillin,bacterial_resistance_chloramphenicol,bacterial_resistance_kanamycin,bacterial_resistance_other,bacterial_resistance_spectinomycin,copy_number_high_copy,copy_number_low_copy,copy_number_unknown,growth_strain_ccdb_survival,growth_strain_dh10b,...,species_budding_yeast,species_fly,species_human,species_mouse,species_mustard_weed,species_nematode,species_other,species_rat,species_synthetic,species_zebrafish
0.0,19590,60506,48706,62078,58592,18750,57313,50059,61841,61285,...,61417,61478,36890,57732,61978,62322,56381,61949,55170,61742
1.0,43427,2511,14311,939,4425,44267,5704,12958,1176,1732,...,1600,1539,26127,5285,1039,695,6636,1068,7847,1275

In [11]:
sorted_binary_features = train_values.iloc[:, 1:].mean().sort_values()

In [12]:
train_labels.head()

,00Q4V31T,012VT4JK,028IO5W2,03GRNN7N,03Y3W51H,09MQV1TY,0A4AHRCT,0A9M05NC,0B9GCUVV,0CL7QVG8,...,ZQNGGY33,ZSHS4VJZ,ZT1IP3T6,ZU6860XU,ZU6TVFFU,ZU75P59K,ZUI6TDWV,ZWFD8OHC,ZX06ZDZN,ZZJVE4HO
sequence_id,,,,,,,,,,,,,,,,,,,,,
9ZIMC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5SAQC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
E7QRO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CT5FP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7PTD8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
lab_ids = pd.DataFrame(train_labels.idxmax(axis=1), columns=['lab_id'])

In [14]:
lab_ids.head()

               lab_id
sequence_id
9ZIMC        RYUA3GVO
5SAQC        RYUA3GVO
E7QRO        RYUA3GVO
CT5FP        RYUA3GVO
7PTD8        RYUA3GVO

In [15]:
lab_ids.shape

(63017, 1)

In [16]:
lab_ids['lab_id'].value_counts().describe()

count    1314.000000
mean       47.958143
std       262.552258
min         1.000000
25%         9.000000
50%        15.000000
75%        34.000000
max      8286.000000
Name: lab_id, dtype: float64

In [17]:
bases = set(''.join(train_values.sequence.values))

In [18]:
bases

{'A', 'C', 'G', 'N', 'T'}

In [20]:
subsequences = [''.join(permutation) for permutation in permutations(bases, r=4)]

In [21]:
print(f"Number of subsequences: {len(subsequences)}")

Number of subsequences: 120

In [22]:
def get_ngram_features(data, subsequences):
    """Generates counts for each subsequence.

    Args:
        data (DataFrame): The data you want to create features from. Must include a "sequence" column.
        subsequences (list): A list of subsequences to count.

    Returns:
        DataFrame: A DataFrame with one column for each subsequence.
    """
    features = pd.DataFrame(index=data.index)
    for subseq in subsequences:
        features[subseq] = data.sequence.str.count(subseq)
    return features

In [23]:
ngram_features = get_ngram_features(train_values, subsequences)
ngram_features.head()

,TNCA,TNCG,TNAC,TNAG,TNGC,TNGA,TCNA,TCNG,TCAN,TCAG,...,GCNT,GCNA,GCAT,GCAN,GATN,GATC,GANT,GANC,GACT,GACN
sequence_id,,,,,,,,,,,,,,,,,,,,,
9ZIMC,0,0,0,0,0,0,0,0,0,37,...,0,0,20,0,0,32,0,0,30,0
5SAQC,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
E7QRO,0,0,0,0,1,0,0,0,0,1,...,0,0,0,1,0,1,0,0,3,0
CT5FP,0,0,0,0,0,0,0,0,0,6,...,0,0,3,0,0,7,0,0,3,0
7PTD8,0,0,0,0,0,1,0,0,0,3,...,0,0,3,0,0,3,0,0,6,0

In [24]:
ngram_features.shape

(63017, 120)

In [25]:
all_features = ngram_features.join(train_values.drop('sequence', axis=1))

In [26]:
all_features.shape

(63017, 159)

In [27]:
# Create custom scorer according to the directions at
# https://web.archive.org/web/20201012220940/https://www.drivendata.co/blog/genetic-attribution-benchmark/

In [28]:
def top10_accuracy_scorer(estimator, X, y):
    """A custom scorer that evaluates a model on whether the correct label is in 
    the top 10 most probable predictions.

    Args:
        estimator (sklearn estimator): The sklearn model that should be evaluated.
        X (numpy array): The validation data.
        y (numpy array): The ground truth labels.

    Returns:
        float: Accuracy of the model as defined by the proportion of predictions
               in which the correct label was in the top 10. Higher is better.
    """
    # predict the probabilities across all possible labels for rows in our training set
    probas = estimator.predict_proba(X)
    
    # get the indices for top 10 predictions for each row; these are the last ten in each row
    # Note: We use argpartition, which is O(n), vs argsort, which uses the quicksort algorithm 
    # by default and is O(n^2) in the worst case. We can do this because we only need the top ten
    # partitioned, not in sorted order.
    # Documentation: https://numpy.org/doc/1.18/reference/generated/numpy.argpartition.html
    top10_idx = np.argpartition(probas, -10, axis=1)[:, -10:]
    
    # index into the classes list using the top ten indices to get the class names
    top10_preds = estimator.classes_[top10_idx]

    # check if y-true is in top 10 for each set of predictions
    mask = top10_preds == y.reshape((y.size, 1))
    
    # take the mean
    top_10_accuracy = mask.any(axis=1).mean()
 
    return top_10_accuracy

In [29]:
X=all_features
y=lab_ids.values.ravel()

In [40]:
# 2.3.1.1 Choose your target. Which column in your tabular dataset will you predict?
# I'm predicting lab_ids.

#2.3.1.2 Is your problem regression or classification?
# Classification.

#2.3.1.3 How is your target distributed?
# My target is distributed unevenly.
df_y.value_counts().describe()

count    1314.000000
mean       47.958143
std       262.552258
min         1.000000
25%         9.000000
50%        15.000000
75%        34.000000
max      8286.000000
dtype: float64

In [42]:
#2.3.1.4 Classification: How many classes? Are the classes imbalanced?
# My target is very imbalanced.  There are 1314 possible lab IDs, but the top 3 labs account for 20% of the sequences.

#2.3.1.5 Choose your evaluation metric(s).
# My evaluation metric is the custom scorer, top_ten_accuracy.

#2.3.1.6 Choose which observations you will use to train, validate, and test your model.
# The test X is test_values.
# I will use cross-validation, so I don't need to split my train and validation data.

ImportError: cannot import name 'train_test_split' from 'sklearn' (/Users/elizabeth/.local/share/virtualenvs/Build-Week-2-PnLiueB6/lib/python3.8/site-packages/sklearn/__init__.py)

              0
0      RYUA3GVO
1      RYUA3GVO
2      RYUA3GVO
3      RYUA3GVO
4      RYUA3GVO
...         ...
63012  3EZXYI3U
63013  3EZXYI3U
63014  3EZXYI3U
63015  3EZXYI3U
63016  3EZXYI3U

[63017 rows x 1 columns]

I7FXTVDP    8286
RKJHZGDQ    2732
GTVTUGVY    2672
A18S09P2    1064
Q2K8NHZY     973
            ...
58BSUZQB       3
G2P73NZ0       3
WB78G3XF       2
0L3Y6ZB2       1
ON9AXMKF       1
Length: 1314, dtype: int64